.skills-row__title {
    margin-bottom: 50px;
}

.skills-row__item {
    margin-bottom: 50px;
    margin-right: 40px;
}

.skills-row__list {
    display: flex;
}

.skill {
    width: 200px;
    height: 200px;
    fill: transparent;
    stroke: #ccc;
    stroke-width: 3px;
}