.triangles {
    position: relative;
        height: 80px;
        margin-top: -80px;
}

.triangles__item {
    display: flex;
    width: 50%;
    position: absolute;
    height: 100%;
    fill: blue;
}

.triangles__item--left {
    left: 0;
}

.triangles__item--right {
    right: 0;
}